## Introduction

In [1]:
# What is the impact of each marketing stratedgy and sales visit on Sales(Amount Collected)
# Is the same stratedgy valid for all the different client types?

### Data Loading and Quality Checks

In [4]:
#Import libraries
import pandas as pd
import numpy as np 
import seaborn as sns
import scipy.stats

In [7]:
data = pd.read_csv(r'C:\Users\senay\Downloads\Campaign-Data.csv')
data.columns

Index(['Client ID', 'Client Type', 'Number of Customers', 'Montly Target',
       'Zip Code', 'Calendardate', 'Amount Collected', 'Unit Sold',
       'Campaign (Email)', 'Campaign (Flyer)', 'Campaign (Phone)',
       'Sales Contact 1', 'Sales Contact 2', 'Sales Contact 3',
       'Sales Contact 4', 'Sales Contact 5', 'Number of Competition'],
      dtype='object')

In [8]:
data.head()

,Client ID,Client Type,Number of Customers,Montly Target,Zip Code,Calendardate,Amount Collected,Unit Sold,Campaign (Email),Campaign (Flyer),Campaign (Phone),Sales Contact 1,Sales Contact 2,Sales Contact 3,Sales Contact 4,Sales Contact 5,Number of Competition
0,ID-987275,Medium Facility,2800,125,1003,16-01-2014,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low
1,ID-987275,Medium Facility,2800,125,1003,16-02-2014,3409460,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,322500.0,Low
2,ID-987275,Medium Facility,2800,125,1003,18-03-2014,10228384,75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low
3,ID-987275,Medium Facility,2800,125,1003,18-04-2014,17047304,123,0.0,0.0,0.0,0.0,3547500.0,1290000.0,0.0,0.0,Low
4,ID-987275,Medium Facility,2800,125,1003,19-05-2014,23866224,171,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low

In [9]:
#Creation of Additional Features 
#Create month and year columns
data['Calendardate']=pd.to_datetime(data['Calendardate'])
data['Calendar_Month']=data['Calendardate'].dt.month 
data['Calendar_Year']=data['Calendardate'].dt.year

In [10]:
data.columns

Index(['Client ID', 'Client Type', 'Number of Customers', 'Montly Target',
       'Zip Code', 'Calendardate', 'Amount Collected', 'Unit Sold',
       'Campaign (Email)', 'Campaign (Flyer)', 'Campaign (Phone)',
       'Sales Contact 1', 'Sales Contact 2', 'Sales Contact 3',
       'Sales Contact 4', 'Sales Contact 5', 'Number of Competition',
       'Calendar_Month', 'Calendar_Year'],
      dtype='object')

In [11]:
data['Client Type'].value_counts(normalize=True)
#Percentage of each type of facility

Large Facility      0.459677
Small Facility      0.282258
Medium Facility     0.169355
Private Facility    0.088710
Name: Client Type, dtype: float64

In [12]:
pd.crosstab(data['Number of Competition'], data['Client Type'], margins=True,normalize='columns')

Client Type,Large Facility,Medium Facility,Private Facility,Small Facility,All
Number of Competition,,,,,
High,0.166667,0.166667,0.166667,0.166667,0.166667
Low,0.833333,0.833333,0.833333,0.833333,0.833333

In [13]:
data.groupby('Number of Competition').mean()

,Number of Customers,Montly Target,Zip Code,Amount Collected,Unit Sold,Campaign (Email),Campaign (Flyer),Campaign (Phone),Sales Contact 1,Sales Contact 2,Sales Contact 3,Sales Contact 4,Sales Contact 5,Calendar_Month,Calendar_Year
Number of Competition,,,,,,,,,,,,,,,
High,1456.935484,75.080645,1003.0,2.974789e+07,213.127016,105398.938508,994046.717540,45198.036895,146945.564516,2.685333e+06,1.786754e+06,72172.379032,8452.620968,10.5,2015.0
Low,1456.935484,75.080645,1003.0,1.445570e+07,103.132258,150862.165766,623692.979839,26693.304194,128219.758065,1.890916e+06,1.883634e+06,70481.854839,15864.919355,5.7,2014.4

In [14]:
data.groupby('Client Type').mean()

,Number of Customers,Montly Target,Zip Code,Amount Collected,Unit Sold,Campaign (Email),Campaign (Flyer),Campaign (Phone),Sales Contact 1,Sales Contact 2,Sales Contact 3,Sales Contact 4,Sales Contact 5,Calendar_Month,Calendar_Year
Client Type,,,,,,,,,,,,,,,
Large Facility,1380.842105,71.578947,1003.0,1.999880e+07,143.098684,142273.609649,8.192056e+05,45595.436623,133667.763158,2.034013e+06,2.017039e+06,119287.280702,16266.447368,6.5,2014.5
Medium Facility,3940.761905,202.857143,1003.0,4.075997e+07,290.583333,437217.097817,1.552603e+06,49176.847619,398645.833333,4.822783e+06,4.698646e+06,85104.166667,33273.809524,6.5,2014.5
Private Facility,400.727273,20.454545,1003.0,5.030246e+06,35.784091,5183.715152,2.272919e+05,5522.470455,1221.590909,6.376705e+05,4.434375e+05,3664.772727,12215.909091,6.5,2014.5
Small Facility,422.514286,21.285714,1003.0,1.637759e+06,11.689286,11975.986310,9.120875e+04,0.000000,8062.500000,7.617143e+05,3.727946e+05,4223.214286,1535.714286,6.5,2014.5

In [15]:
data.corr()[['Amount Collected']]
#Correlation pertaining to Amount collected

                     Amount Collected
Number of Customers          0.607496
Montly Target                0.608204
Zip Code                          NaN
Amount Collected             1.000000
Unit Sold                    0.997515
Campaign (Email)             0.248235
Campaign (Flyer)             0.444337
Campaign (Phone)             0.034858
Sales Contact 1              0.277478
Sales Contact 2              0.552112
Sales Contact 3              0.357887
Sales Contact 4              0.236165
Sales Contact 5              0.095795
Calendar_Month               0.139425
Calendar_Year                0.286194

In [17]:
## Consolidated Strategy for Targeting 

cm = sns.light_palette("green", as_cmap=True)
## Use a green map
correlation_analysis = pd.DataFrame(data[['Amount Collected','Campaign (Email)','Campaign (Flyer)','Campaign (Phone)','Sales Contact 1',
                                          'Sales Contact 2','Sales Contact 3','Sales Contact 4','Sales Contact 5']].corr()['Amount Collected']).reset_index()
## We use the corrletion function and select important columns for our correlation pertaining to amount collected

correlation_analysis.columns=['Impacting Variable', 'Degree of Linear Impact (Correlation)']
# Change the name of the columns 
correlation_analysis= correlation_analysis[correlation_analysis['Impacting Variable'] != 'Amount Collected']
## WE remove amount collected because it has 100 % correlation
correlation_analysis= correlation_analysis.sort_values('Degree of Linear Impact (Correlation)', ascending=False)
#Sort our correlation values by descending order amd set pur value to 2 deciamals 
correlation_analysis.style.background_gradient(cmap=cm).set_precision(2)

C:\Users\senay\AppData\Local\Temp/ipykernel_6732/2236612361.py:15: FutureWarning: this method is deprecated in favour of `Styler.format(precision=..)`
  correlation_analysis.style.background_gradient(cmap=cm).set_precision(2)