In [1]:
import pandas as pd
import seaborn as sns

In [2]:
# we will use one of the seaborn datasets, all the datasets available are listed below
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic',
 'anagrams',
 'anagrams',
 'anscombe',
 'anscombe',
 'attention',
 'attention',
 'brain_networks',
 'brain_networks',
 'car_crashes',
 'car_crashes',
 'diamonds',
 'diamonds',
 'dots',
 'dots',
 'dowjones',
 'dowjones',
 'exercise',
 'exercise',
 'flights',
 'flights',
 'fmri',
 'fmri',
 'geyser',
 'geyser',
 'glue',
 'glue',
 'healthexp',
 'healthexp',
 'iris',
 'iris',
 'mpg',
 'mpg',
 'penguins',
 'penguins',
 'planets',
 'planets',
 'seaice',
 'seaice',
 'taxis',
 'taxis',
 'tips',
 'tips',
 'titanic',
 'titanic',
 'anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [3]:
df = sns.load_dataset('taxis')
df.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [4]:
df.describe()

,passengers,distance,fare,tip,tolls,total
count,6433.000000,6433.000000,6433.000000,6433.00000,6433.000000,6433.000000
mean,1.539251,3.024617,13.091073,1.97922,0.325273,18.517794
std,1.203768,3.827867,11.551804,2.44856,1.415267,13.815570
min,0.000000,0.000000,1.000000,0.00000,0.000000,1.300000
25%,1.000000,0.980000,6.500000,0.00000,0.000000,10.800000
50%,1.000000,1.640000,9.500000,1.70000,0.000000,14.160000
75%,2.000000,3.210000,15.000000,2.80000,0.000000,20.300000
max,6.000000,36.700000,150.000000,33.20000,24.020000,174.820000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6433 entries, 0 to 6432
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pickup           6433 non-null   datetime64[ns]
 1   dropoff          6433 non-null   datetime64[ns]
 2   passengers       6433 non-null   int64
 3   distance         6433 non-null   float64
 4   fare             6433 non-null   float64
 5   tip              6433 non-null   float64
 6   tolls            6433 non-null   float64
 7   total            6433 non-null   float64
 8   color            6433 non-null   object
 9   payment          6389 non-null   object
 10  pickup_zone      6407 non-null   object
 11  dropoff_zone     6388 non-null   object
 12  pickup_borough   6407 non-null   object
 13  dropoff_borough  6388 non-null   object
dtypes: datetime64[ns](2), float64(5), int64(1), object(6)
memory usage: 703.7+ KB

In [6]:
df.shape

(6433, 14)

In [7]:
# Basic Number Calculations

In [8]:
# passengers 3
df.query('passengers==3')

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.00,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
15,2019-03-16 17:53:34,2019-03-16 18:13:57,3,2.09,13.5,0.00,0.00,16.80,yellow,cash,Upper West Side North,Clinton East,Manhattan,Manhattan
31,2019-03-01 02:55:55,2019-03-01 02:57:59,3,0.74,4.0,0.00,0.00,7.80,yellow,cash,Clinton East,West Chelsea/Hudson Yards,Manhattan,Manhattan
59,2019-03-09 19:24:01,2019-03-09 19:33:32,3,0.82,7.0,2.00,0.00,12.30,yellow,credit card,TriBeCa/Civic Center,Lower East Side,Manhattan,Manhattan
68,2019-03-22 02:22:01,2019-03-22 02:30:21,3,1.22,7.5,0.00,0.00,11.30,yellow,cash,Clinton East,Midtown North,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6198,2019-03-14 20:27:09,2019-03-14 21:11:40,3,19.62,54.0,0.00,5.76,61.06,green,credit card,Downtown Brooklyn/MetroTech,Norwood,Brooklyn,Bronx
6232,2019-03-21 19:29:01,2019-03-21 19:36:20,3,0.80,6.0,0.00,0.00,7.80,green,cash,Jackson Heights,Elmhurst,Queens,Queens
6269,2019-03-13 13:48:54,2019-03-13 14:22:07,3,9.88,32.0,7.11,0.00,42.66,green,credit card,Washington Heights South,Kips Bay,Manhattan,Manhattan
6303,2019-03-03 16:45:58,2019-03-03 16:57:14,3,1.30,8.5,2.32,0.00,11.62,green,credit card,Boerum Hill,Park Slope,Brooklyn,Brooklyn
6364,2019-03-06 16:13:48,2019-03-06 16:34:05,3,6.82,23.5,5.61,0.00,33.66,green,credit card,Washington Heights South,West Chelsea/Hudson Yards,Manhattan,Manhattan

In [9]:
#Equal String

In [10]:
df.query('pickup_borough == "Manhattan"')

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6420,2019-03-16 15:39:23,2019-03-16 15:46:18,2,1.20,7.0,0.00,0.0,7.80,green,cash,Central Harlem,Upper West Side North,Manhattan,Manhattan
6422,2019-03-22 20:17:35,2019-03-22 20:36:07,1,4.02,16.0,0.00,0.0,17.30,green,cash,Washington Heights South,Spuyten Duyvil/Kingsbridge,Manhattan,Bronx
6424,2019-03-30 20:52:15,2019-03-30 20:59:55,1,1.70,8.0,0.00,0.0,9.30,green,cash,Central Harlem,Central Harlem North,Manhattan,Manhattan
6426,2019-03-28 08:04:47,2019-03-28 08:07:46,1,0.71,4.5,0.50,0.0,5.80,green,credit card,Central Park,Upper West Side North,Manhattan,Manhattan
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan

In [11]:
#AND

In [12]:
df.query('pickup_borough == "Manhattan" and passengers==3')

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
15,2019-03-16 17:53:34,2019-03-16 18:13:57,3,2.09,13.5,0.00,0.0,16.80,yellow,cash,Upper West Side North,Clinton East,Manhattan,Manhattan
31,2019-03-01 02:55:55,2019-03-01 02:57:59,3,0.74,4.0,0.00,0.0,7.80,yellow,cash,Clinton East,West Chelsea/Hudson Yards,Manhattan,Manhattan
59,2019-03-09 19:24:01,2019-03-09 19:33:32,3,0.82,7.0,2.00,0.0,12.30,yellow,credit card,TriBeCa/Civic Center,Lower East Side,Manhattan,Manhattan
68,2019-03-22 02:22:01,2019-03-22 02:30:21,3,1.22,7.5,0.00,0.0,11.30,yellow,cash,Clinton East,Midtown North,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5410,2019-03-31 13:19:30,2019-03-31 13:29:19,3,1.15,8.0,0.00,0.0,11.30,yellow,cash,East Chelsea,Times Sq/Theatre District,Manhattan,Manhattan
5483,2019-03-02 14:07:17,2019-03-02 14:18:59,3,1.30,9.0,0.00,0.0,9.80,green,cash,Morningside Heights,East Harlem North,Manhattan,Manhattan
5744,2019-03-01 18:05:51,2019-03-01 18:17:43,3,1.73,9.0,0.00,0.0,10.80,green,cash,Central Harlem,Central Harlem North,Manhattan,Manhattan
6269,2019-03-13 13:48:54,2019-03-13 14:22:07,3,9.88,32.0,7.11,0.0,42.66,green,credit card,Washington Heights South,Kips Bay,Manhattan,Manhattan
6364,2019-03-06 16:13:48,2019-03-06 16:34:05,3,6.82,23.5,5.61,0.0,33.66,green,credit card,Washington Heights South,West Chelsea/Hudson Yards,Manhattan,Manhattan

In [13]:
df.query('pickup_borough == "Manhattan" and passengers==3 and dropoff_zone == "Yorkville West"')

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
2230,2019-03-16 20:06:25,2019-03-16 20:11:03,3,1.38,6.0,1.96,0.0,11.76,yellow,credit card,Lenox Hill West,Yorkville West,Manhattan,Manhattan
3928,2019-03-07 23:47:25,2019-03-07 23:59:02,3,2.30,10.5,2.86,0.0,17.16,yellow,credit card,Lincoln Square East,Yorkville West,Manhattan,Manhattan
4479,2019-03-13 20:08:04,2019-03-13 20:12:48,3,0.90,5.5,0.00,0.0,9.30,yellow,cash,Lenox Hill West,Yorkville West,Manhattan,Manhattan
4926,2019-03-02 19:09:35,2019-03-02 19:26:31,3,3.77,14.5,3.56,0.0,21.36,yellow,credit card,Midtown South,Yorkville West,Manhattan,Manhattan

In [14]:
# OR

In [15]:
df.query('pickup_borough == "Manhattan" or passengers==3')

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6420,2019-03-16 15:39:23,2019-03-16 15:46:18,2,1.20,7.0,0.00,0.0,7.80,green,cash,Central Harlem,Upper West Side North,Manhattan,Manhattan
6422,2019-03-22 20:17:35,2019-03-22 20:36:07,1,4.02,16.0,0.00,0.0,17.30,green,cash,Washington Heights South,Spuyten Duyvil/Kingsbridge,Manhattan,Bronx
6424,2019-03-30 20:52:15,2019-03-30 20:59:55,1,1.70,8.0,0.00,0.0,9.30,green,cash,Central Harlem,Central Harlem North,Manhattan,Manhattan
6426,2019-03-28 08:04:47,2019-03-28 08:07:46,1,0.71,4.5,0.50,0.0,5.80,green,credit card,Central Park,Upper West Side North,Manhattan,Manhattan
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan

In [16]:
df.query('pickup_borough == "Manhattan" and passengers==3 or dropoff_zone == "Yorkville West"')

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
15,2019-03-16 17:53:34,2019-03-16 18:13:57,3,2.09,13.5,0.00,0.0,16.80,yellow,cash,Upper West Side North,Clinton East,Manhattan,Manhattan
31,2019-03-01 02:55:55,2019-03-01 02:57:59,3,0.74,4.0,0.00,0.0,7.80,yellow,cash,Clinton East,West Chelsea/Hudson Yards,Manhattan,Manhattan
59,2019-03-09 19:24:01,2019-03-09 19:33:32,3,0.82,7.0,2.00,0.0,12.30,yellow,credit card,TriBeCa/Civic Center,Lower East Side,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6217,2019-03-08 13:40:37,2019-03-08 13:49:42,1,1.57,8.5,1.20,0.0,13.25,green,credit card,East Harlem North,Yorkville West,Manhattan,Manhattan
6224,2019-03-17 16:56:35,2019-03-17 17:02:40,1,1.08,6.0,0.00,0.0,9.55,green,cash,East Harlem North,Yorkville West,Manhattan,Manhattan
6269,2019-03-13 13:48:54,2019-03-13 14:22:07,3,9.88,32.0,7.11,0.0,42.66,green,credit card,Washington Heights South,Kips Bay,Manhattan,Manhattan
6364,2019-03-06 16:13:48,2019-03-06 16:34:05,3,6.82,23.5,5.61,0.0,33.66,green,credit card,Washington Heights South,West Chelsea/Hudson Yards,Manhattan,Manhattan
6414,2019-03-30 14:04:46,2019-03-30 14:18:58,2,2.60,11.0,2.91,0.0,17.46,green,credit card,Central Harlem,Yorkville West,Manhattan,Manhattan

In [17]:
#IN

In [18]:
df.query('pickup_borough in ("Manhattan", "Brooklyn" )')

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6426,2019-03-28 08:04:47,2019-03-28 08:07:46,1,0.71,4.5,0.50,0.0,5.80,green,credit card,Central Park,Upper West Side North,Manhattan,Manhattan
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [19]:
df.query('pickup_borough in ("Manhattan", "Brooklyn" )')

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6426,2019-03-28 08:04:47,2019-03-28 08:07:46,1,0.71,4.5,0.50,0.0,5.80,green,credit card,Central Park,Upper West Side North,Manhattan,Manhattan
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [20]:
borough = ["Manhattan", "Brooklyn"]

In [21]:
df.query('pickup_borough not in @borough')

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
10,2019-03-16 10:02:25,2019-03-16 10:22:29,1,3.90,17.0,0.00,0.00,17.80,yellow,cash,LaGuardia Airport,Astoria,Queens,Queens
22,2019-03-28 17:20:54,2019-03-28 17:55:57,1,9.82,31.5,8.31,5.76,49.87,yellow,credit card,LaGuardia Airport,Sutton Place/Turtle Bay North,Queens,Manhattan
42,2019-03-30 23:59:14,2019-03-30 23:59:17,1,0.00,80.0,20.08,0.00,100.38,yellow,credit card,NaN,NaN,NaN,NaN
43,2019-03-27 19:39:16,2019-03-27 20:00:26,1,9.50,28.0,0.00,5.76,35.06,yellow,cash,LaGuardia Airport,Washington Heights South,Queens,Manhattan
53,2019-03-20 18:49:24,2019-03-20 19:12:40,1,13.45,36.0,0.00,0.00,37.80,yellow,cash,JFK Airport,Sunnyside,Queens,Queens
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6417,2019-03-10 12:10:45,2019-03-10 12:43:05,2,11.17,35.0,0.00,5.76,41.56,green,credit card,Hillcrest/Pomonok,Flatiron,Queens,Manhattan
6418,2019-03-02 21:47:50,2019-03-02 21:55:34,1,1.48,7.5,1.76,0.00,10.56,green,credit card,Forest Hills,Kew Gardens Hills,Queens,Queens
6423,2019-03-12 08:10:47,2019-03-12 08:35:35,1,4.30,18.5,0.00,0.00,19.30,green,credit card,Saint Albans,Hillcrest/Pomonok,Queens,Queens
6427,2019-03-23 18:26:09,2019-03-23 18:49:12,1,7.07,20.0,0.00,0.00,20.00,green,cash,Parkchester,East Harlem South,Bronx,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.00,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx

In [22]:
passengers =5

In [23]:
df.query('passengers ==@passengers')

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
23,2019-03-04 12:15:39,2019-03-04 12:26:53,5,1.09,8.5,2.36,0.00,14.16,yellow,credit card,Sutton Place/Turtle Bay North,Midtown North,Manhattan,Manhattan
24,2019-03-24 09:53:28,2019-03-24 10:01:22,5,2.89,9.5,3.84,0.00,16.64,yellow,credit card,Lenox Hill West,Gramercy,Manhattan,Manhattan
90,2019-03-07 10:39:25,2019-03-07 11:05:01,5,2.55,16.5,0.00,0.00,19.80,yellow,cash,Midtown Center,Little Italy/NoLiTa,Manhattan,Manhattan
134,2019-03-11 10:37:05,2019-03-11 10:50:41,5,1.56,10.0,1.00,0.00,14.30,yellow,credit card,Union Sq,Midtown Center,Manhattan,Manhattan
157,2019-03-02 12:25:56,2019-03-02 12:45:44,5,10.18,29.5,0.06,5.76,38.62,yellow,credit card,LaGuardia Airport,Midtown East,Queens,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6214,2019-03-23 18:38:22,2019-03-23 19:00:51,5,4.30,18.5,0.00,0.00,19.30,green,cash,Forest Hills,South Ozone Park,Queens,Queens
6245,2019-03-01 14:48:57,2019-03-01 15:09:22,5,3.11,15.0,0.00,0.00,16.80,green,cash,Steinway,Jackson Heights,Queens,Queens
6250,2019-03-17 14:00:01,2019-03-17 14:06:24,5,1.18,6.5,1.46,0.00,8.76,green,credit card,East Harlem South,Upper West Side North,Manhattan,Manhattan
6370,2019-03-26 09:09:46,2019-03-26 09:13:59,5,0.51,4.5,1.06,0.00,8.31,green,credit card,Clinton Hill,Crown Heights North,Brooklyn,Brooklyn
6412,2019-03-20 17:33:25,2019-03-20 17:42:48,5,1.40,8.0,0.00,0.00,9.80,green,cash,Brooklyn Heights,Fort Greene,Brooklyn,Brooklyn

In [24]:
#Match Operators within function

In [25]:
df.query('passengers *3 < 10 ')

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [26]:
df.query('passengers / 3 > 1 ')

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
19,2019-03-25 22:04:25,2019-03-25 22:11:30,6,1.08,6.5,1.08,0.0,11.38,yellow,credit card,East Chelsea,East Chelsea,Manhattan,Manhattan
23,2019-03-04 12:15:39,2019-03-04 12:26:53,5,1.09,8.5,2.36,0.0,14.16,yellow,credit card,Sutton Place/Turtle Bay North,Midtown North,Manhattan,Manhattan
24,2019-03-24 09:53:28,2019-03-24 10:01:22,5,2.89,9.5,3.84,0.0,16.64,yellow,credit card,Lenox Hill West,Gramercy,Manhattan,Manhattan
51,2019-03-16 17:38:47,2019-03-16 17:56:04,4,1.89,12.0,0.00,0.0,15.30,yellow,cash,Midtown North,Union Sq,Manhattan,Manhattan
57,2019-03-17 13:55:43,2019-03-17 14:01:39,4,0.71,5.5,1.76,0.0,10.56,yellow,credit card,UN/Turtle Bay South,Midtown Center,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6369,2019-03-26 18:15:56,2019-03-26 18:41:22,6,6.81,23.0,2.00,0.0,26.80,green,credit card,Astoria,Middle Village,Queens,Queens
6370,2019-03-26 09:09:46,2019-03-26 09:13:59,5,0.51,4.5,1.06,0.0,8.31,green,credit card,Clinton Hill,Crown Heights North,Brooklyn,Brooklyn
6403,2019-03-22 03:28:18,2019-03-22 03:43:44,4,4.07,14.5,0.00,0.0,15.80,green,cash,Elmhurst,College Point,Queens,Queens
6412,2019-03-20 17:33:25,2019-03-20 17:42:48,5,1.40,8.0,0.00,0.0,9.80,green,cash,Brooklyn Heights,Fort Greene,Brooklyn,Brooklyn
6421,2019-03-24 09:07:15,2019-03-24 09:36:45,6,10.23,33.0,0.00,0.0,33.80,green,credit card,East Flatbush/Farragut,South Ozone Park,Brooklyn,Queens

In [27]:
df.query('passengers * distance < 10 ')

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6427,2019-03-23 18:26:09,2019-03-23 18:49:12,1,7.07,20.0,0.00,0.0,20.00,green,cash,Parkchester,East Harlem South,Bronx,Manhattan
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [28]:
#string functions

In [29]:
#
df.query('color =="yellow"')

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5446,2019-03-11 21:19:42,2019-03-11 21:29:23,1,2.09,9.5,2.66,0.0,15.96,yellow,credit card,Battery Park City,Financial District North,Manhattan,Manhattan
5447,2019-03-20 18:09:46,2019-03-20 18:16:52,1,1.52,7.5,2.36,0.0,14.16,yellow,credit card,Upper West Side South,Upper East Side North,Manhattan,Manhattan
5448,2019-03-09 11:08:09,2019-03-09 11:18:03,1,2.05,9.5,2.56,0.0,15.36,yellow,credit card,Lenox Hill West,Upper West Side South,Manhattan,Manhattan
5449,2019-03-22 18:12:50,2019-03-22 18:22:05,1,1.07,7.5,2.36,0.0,14.16,yellow,credit card,West Village,Penn Station/Madison Sq West,Manhattan,Manhattan
5450,2019-03-07 18:02:33,2019-03-07 18:13:32,1,1.80,9.0,1.33,0.0,14.63,yellow,credit card,Lincoln Square East,Upper West Side North,Manhattan,Manhattan

In [36]:
df[df['color'].str.contains("yel")]

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5446,2019-03-11 21:19:42,2019-03-11 21:29:23,1,2.09,9.5,2.66,0.0,15.96,yellow,credit card,Battery Park City,Financial District North,Manhattan,Manhattan
5447,2019-03-20 18:09:46,2019-03-20 18:16:52,1,1.52,7.5,2.36,0.0,14.16,yellow,credit card,Upper West Side South,Upper East Side North,Manhattan,Manhattan
5448,2019-03-09 11:08:09,2019-03-09 11:18:03,1,2.05,9.5,2.56,0.0,15.36,yellow,credit card,Lenox Hill West,Upper West Side South,Manhattan,Manhattan
5449,2019-03-22 18:12:50,2019-03-22 18:22:05,1,1.07,7.5,2.36,0.0,14.16,yellow,credit card,West Village,Penn Station/Madison Sq West,Manhattan,Manhattan
5450,2019-03-07 18:02:33,2019-03-07 18:13:32,1,1.80,9.0,1.33,0.0,14.63,yellow,credit card,Lincoln Square East,Upper West Side North,Manhattan,Manhattan

### df.query('color.str.contains("yel")')

In [ ]:
# df.query('color.str.contains("yel")')

In [37]:
df[df['color'].str.contains("gre")]

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
5451,2019-03-24 15:05:22,2019-03-24 15:26:32,1,2.29,15.0,0.00,0.0,15.80,green,cash,Forest Hills,Corona,Queens,Queens
5452,2019-03-14 22:04:04,2019-03-14 22:10:00,1,0.80,5.5,0.00,0.0,6.80,green,credit card,Kew Gardens,Kew Gardens,Queens,Queens
5453,2019-03-29 18:12:27,2019-03-29 18:20:40,1,1.51,7.5,1.20,0.0,10.50,green,credit card,East Harlem North,East Harlem South,Manhattan,Manhattan
5454,2019-03-06 11:11:33,2019-03-06 11:15:15,1,0.45,4.5,0.00,0.0,5.30,green,cash,East Harlem North,East Harlem South,Manhattan,Manhattan
5455,2019-03-04 18:43:53,2019-03-04 18:46:50,1,0.61,4.0,0.00,0.0,5.80,green,cash,Carroll Gardens,Carroll Gardens,Brooklyn,Brooklyn
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

### df.query('color.str.contains("gre")')

In [50]:
# df.query('color.str.contains("gre")')
df.dtypes

pickup             datetime64[ns]
dropoff            datetime64[ns]
passengers                  int64
distance                  float64
fare                      float64
tip                       float64
tolls                     float64
total                     float64
color                      object
payment                    object
pickup_zone                object
dropoff_zone               object
pickup_borough             object
dropoff_borough            object
dtype: object

In [ ]:
#dates

In [ ]:
df.query('dropoff.dt.month==2')

In [59]:
df.query('pickup.dt.year==2019 and pickup.dt.month==3')

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [60]:
#null values

In [66]:
df['pickup_borough'].isna().sum()

26

In [67]:
df[df['pickup_borough'].isna()==1]

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
42,2019-03-30 23:59:14,2019-03-30 23:59:17,1,0.00,80.0,20.08,0.00,100.38,yellow,credit card,NaN,NaN,NaN,NaN
606,2019-03-19 15:04:40,2019-03-19 15:06:15,1,0.40,3.5,1.35,0.00,8.15,yellow,credit card,NaN,Upper East Side South,NaN,Manhattan
622,2019-03-12 19:52:36,2019-03-12 19:52:55,3,0.00,120.0,33.20,12.50,166.00,yellow,credit card,NaN,NaN,NaN,NaN
671,2019-03-09 22:45:46,2019-03-09 22:46:50,1,0.40,3.5,0.00,0.00,7.30,yellow,cash,NaN,Lincoln Square East,NaN,Manhattan
712,2019-03-03 01:24:45,2019-03-03 01:29:32,1,0.80,5.0,1.75,0.00,10.55,yellow,credit card,NaN,West Chelsea/Hudson Yards,NaN,Manhattan
970,2019-03-29 00:02:00,2019-03-29 00:02:05,2,0.00,45.0,5.00,0.00,50.30,yellow,credit card,NaN,NaN,NaN,NaN
1108,2019-03-10 09:33:13,2019-03-10 09:52:04,1,13.40,52.0,11.70,5.76,70.26,yellow,credit card,NaN,NaN,NaN,NaN
1961,2019-03-19 16:43:59,2019-03-19 17:37:22,1,17.82,52.0,13.11,5.76,78.67,yellow,credit card,NaN,Garment District,NaN,Manhattan
2137,2019-03-08 13:27:32,2019-03-08 13:46:23,1,1.40,12.0,3.05,0.00,18.35,yellow,credit card,NaN,NaN,NaN,NaN
2742,2019-03-23 06:20:27,2019-03-23 06:20:59,1,0.00,55.0,0.00,0.00,55.80,yellow,credit card,NaN,NaN,NaN,NaN
3085,2019-03-24 15:43:02,2019-03-24 16:02:57,1,3.20,14.5,0.00,0.00,15.30,yellow,cash,NaN,NaN,NaN,NaN
3259,2019-03-30 00:39:09,2019-03-30 00:43:34,1,0.84,5.0,1.70,0.00,10.50,yellow,credit card,NaN,NaN,NaN,NaN
3644,2019-03-19 23:30:50,2019-03-19 23:32:33,2,0.00,103.0,20.65,0.00,123.95,yellow,credit card,NaN,NaN,NaN,NaN
3793,2019-03-24 06:07:30,2019-03-24 06:12:22,1,1.50,6.5,0.00,0.00,9.80,yellow,NaN,NaN,Midtown East,NaN,Manhattan
3889,2019-03-30 06:42:55,2019-03-30 06:43:00,1,0.00,2.5,0.00,0.00,3.30,yellow,cash,NaN,NaN,NaN,NaN
4118,2019-03-15 14:01:54,2019-03-15 14:01:59,1,0.00,25.0,5.06,0.00,30.36,yellow,credit card,NaN,NaN,NaN,NaN
4127,2019-03-01 05:18:21,2019-03-01 05:18:30,2,0.04,2.5,0.00,0.00,3.80,yellow,cash,NaN,NaN,NaN,NaN
4281,2019-03-18 23:29:49,2019-03-18 23:38:00,1,2.10,9.0,2.06,0.00,12.36,yellow,credit card,NaN,NaN,NaN,NaN
4414,2019-03-29 20:42:47,2019-03-29 21:03:50,1,4.20,17.0,4.80,5.76,28.86,yellow,credit card,NaN,NaN,NaN,NaN
4772,2019-03-21 19:51:13,2019-03-21 19:57:03,1,0.72,5.5,1.46,0.00,8.76,yellow,credit card,NaN,NaN,NaN,NaN
4941,2019-03-01 08:12:28,2019-03-01 08:17:19,1,0.83,5.0,2.50,0.00,10.80,yellow,credit card,NaN,NaN,NaN,NaN
5263,2019-03-09 20:37:53,2019-03-09 21:07:20,1,4.99,22.0,5.16,0.00,30.96,yellow,credit card,NaN,NaN,NaN,NaN
5493,2019-03-06 12:14:00,2019-03-06 12:14:00,1,0.00,10.0,0.00,0.00,10.00,green,credit card,NaN,NaN,NaN,NaN
5624,2019-03-11 14:04:50,2019-03-11 14:04:50,1,0.00,2.5,0.00,0.00,3.30,green,cash,NaN,NaN,NaN,NaN
5638,2019-03-13 12:22:00,2019-03-13 12:22:00,1,0.00,10.0,0.00,0.00,10.00,green,credit card,NaN,NaN,NaN,NaN
6083,2019-03-19 15:34:00,2019-03-19 15:34:00,1,0.00,5.0,0.00,0.00,5.00,green,credit card,NaN,NaN,NaN,NaN

In [ ]:
df.query('pickup_borough.isna()==1')

In [69]:
#Grab multiple series or column after query

In [71]:
df.query('dropoff.dt.month==3')[['total', 'payment']]

      total      payment
0     12.95  credit card
1      9.30         cash
2     14.16  credit card
3     36.95  credit card
4     13.40  credit card
...     ...          ...
6428   6.36  credit card
6429  58.80  credit card
6430  17.30         cash
6431   6.80  credit card
6432  20.16  credit card

[6431 rows x 2 columns]

In [72]:
df.query('dropoff.dt.month==2')[['total', 'payment']]

      total payment
6203    6.3    cash

In [ ]:
#inplace --> Replace current dataframe with new one filtered

In [73]:
df2 = sns.load_dataset('taxis')

In [74]:
df2.query('color == "yellow" ',inplace=True)

In [75]:
df.shape

(6433, 14)

In [76]:
df2.shape

(5451, 14)